<div class="ui container">
  <div class="ui secondary menu pointing">
    <a routerLink="/" class="item">Angular Email</a>

    <div class="right menu">
      <ng-container *ngIf="signedup$ | async">
        <a class="ui item" routerLink="/inbox" routerLinkActive="active"
          >Inbox</a
        >
        <a class="ui item" routerLinkActive="active" routerLink="/signout"
          >Sign Out</a
        >
      </ng-container>
      <ng-container *ngIf="!(signedup$ | async)">
        <a
          class="ui item"
          routerLink="/"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="active"
          >Sign In</a
        >
        <a class="ui item" routerLink="/signup" routerLinkActive="active"
          >Sign Up</a
        >
      </ng-container>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
